.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  padding: 10vh 20px;
  margin: 0 auto;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
  }
  &__tagline {
    font-weight: 700;
    font-size: min(72px, 15vw);
  }
  &__tagline span {
    color: var(--primary);
  }
  &__desc {
    line-height: 1.5;
    font-size: min(20px, 5vw);
  }
}
